h1{
    color: #a52a2a; 
    font-size: 24pt; 
    font-family: Georgia, Times, serif; 
    font-weight: normal; 
}


    
    .form {
    display: inline-block;
    padding: 25px;
    border: 1px solid rgb(202, 225, 252);
    border-radius: 2px;
    width: 500px;
    }
    
    .form__field {
    margin-bottom: 20px;
    }
    
    .form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
    }
    
    .form input {
    outline: blue;
    display: block;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    }
    
    .form button {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    background-color: #ccc;
    color: rgb(38, 0, 255);
    }
    
    input:valid:not(:placeholder-shown) {
    border-color: green;
    }
    
    input:invalid:not(:placeholder-shown) {
    border-color: red;
    }
  
    #flexscentr{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #centrblock {
        width: 200ph;
        height: 200px;
        background-color: blueviolet;
    
        
    }